*{
  margin:20px;
}
.Container{
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:10px;
}
.Info{
  display:flex;
  flex-direction: column;
  border:2px solid white;
  height:300px;
  width:250px;
  padding:10px;
}
.Info:hover{
  transform: translateY(-8px) scale(1.05);
  transition: 500ms;
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(255,255,255,0.25);
}
